{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}
    <a href="/voice/1" class="box-link">
        <div class="box">
            <div class="container">
                <h2>【就活生必見】面接でよく聞かれる質問とその対策</h2>
                <p>就活の面接は、企業があなたの能力や適性を評価する重要な場です。ここでは、面接でよく聞かれる質問とその対策について紹介します。</p>
            </div>
        </div>
    </a>

    <a href="/voice/2" class="box-link">
        <div class="box">
            <div class="container">
                <h2>【就活生必見】面接でよく聞かれる質問とその対策</h2>
                <p>就活の面接は、企業があなたの能力や適性を評価する重要な場です。ここでは、面接でよく聞かれる質問とその対策について紹介します。</p>
            </div>
        </div>
    </a>
{% endblock %}